#distraction_delay_overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  width: 100vw !important;
  width: 100% !important;
  height: 100vh !important;
  height: 100% !important;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999999 !important;

  background: #191B1C;
  color: #84ACF2;
  text-align: center;
}

#distraction_delay_ticker {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 55px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { opacity: 1 }
  98% { opacity: 0 }
  100% { opacity: 1 }
}

#skip_butt {
  padding: 10px;
  color: #84ACF2;
  background-color: #191B1C;
  border: 2px solid #84ACF2;
  border-radius: 5px;
  position: absolute;
  top: 60vh;
  cursor: pointer;
}

#skip_butt.get-wild {
  animation: getWild 2.3s;
  animation-fill-mode: forwards;
}

@keyframes getWild {
  0% {
    transform: rotate(0deg) scale(1.0);
    top: 60vh;
  }
  10% {
    transform: rotate(0deg) scale(1.0);
    top: 60vh;
  }
  50% {
    transform: rotate(50000deg) scale(10.0);
  }
  100% {
    transform: rotate(100000deg) scale(0);
    top: 50vh;
  }
}
